
TAIKO_GETH_IMAGE=nethswitchboard/preconf-taiko-geth:taiko
TAIKO_CLIENT_IMAGE=nethswitchboard/taiko-client-rs:mskr-look
CATALYST_IMAGE=nethermind/catalyst-node:latest
URC_PROTOCOL_IMAGE=nethermind/catalyst-urc-protocol:sha-c2ad275
URC_INDEXER_IMAGE=nethermind/catalyst-taiko-urcindexer:sha-e09e979
TAIKO_PROTOCOL_SHASTA_IMAGE=nethswitchboard/preconf-taiko-protocol:shasta-urc

############################### DEFAULT #####################################

# L1
L1_CHAIN_ID=3151908

L1_ENDPOINT_HTTP=http://host.docker.internal:32003
L1_ENDPOINT_WS=ws://host.docker.internal:32004
L1_BEACON_HTTP=http://host.docker.internal:33001

MIN_VALIDATORS=2

# Chain ID
L2_CHAIN_ID=167001
L2_GENESIS_HASH=0x7a2cf36c5c9ebe2341394181cd815d652568a5d9596eae0eac169ecaa310f371

# Exposed ports
PORT_L2_EXECUTION_ENGINE_1_HTTP=8547
PORT_L2_EXECUTION_ENGINE_1_WS=8548
PORT_L2_EXECUTION_ENGINE_1_METRICS=6060
PORT_L2_EXECUTION_ENGINE_1_P2P=30303
PORT_L2_EXECUTION_ENGINE_1_AUTH=8551

PORT_L2_EXECUTION_ENGINE_2_HTTP=8647
PORT_L2_EXECUTION_ENGINE_2_WS=8648
PORT_L2_EXECUTION_ENGINE_2_METRICS=6660
PORT_L2_EXECUTION_ENGINE_2_P2P=36306
PORT_L2_EXECUTION_ENGINE_2_AUTH=8651
# PORT_PROVER_SERVER=9876
# PORT_PROMETHEUS=9091
# PORT_GRAFANA=3001

PORT_P2P_DRIVER_1=9222
PORT_P2P_DRIVER_2=9223

OPERATOR_1_PRIVATE_KEY=ac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80
OPERATOR_2_PRIVATE_KEY=59c6995e998f97a5a0044966f0945389dc9e86dae88c7a8412f4603b6b78690d
CONTRACT_OWNER_PRIVATE_KEY=bcdf20249abf0ed6d944c0288fad489e33f66b3960d9e6229c1cd214ed3bbe31
CONTRACT_OWNER=0x8943545177806ED17B9F23F0a21ee5948eCaa776

TAIKO_INTERNAL_SHASTA_TIME=0

############################### SHASTA #####################################
SHASTA_AUTOMATA_DCAP_ATTESTATION=0x373E0B8B80A15cdf587C1263654c6B5edd195a43
SHASTA_BRIDGE=0x3A080b423D91E1C0C185dF46FE080e164A0e77a1
SHASTA_ERC1155_VAULT=0x7E2E7DD2Aead92e2e6d05707F21D4C36004f8A2B
SHASTA_ERC20_VAULT=0x48b90E15Bd620e44266CCbba434C3f454a12b361
SHASTA_ERC721_VAULT=0xa4fD91B3b1032e1fd0d7623A54B1a399aaaF9ab5
SHASTA_PROVER_WHITELIST=0x4Af231e5E624038Cd40FC4fd5b86B39d13E1429e
SHASTA_SGX_GETH_AUTOMATA_DCAP_ATTESTATION=0xEE0fCB8E5cCAD0b4197BAabd633333886f5C364d
SHASTA_SHARED_RESOLVER=0x422A3492e218383753D8006C7Bfa97815B44373F
SHASTA_SHASTA_INBOX=0xD1ea1592b7927a2f0EE5f8567928Df0cfA687C78
SHASTA_SIGNAL_SERVICE=0xB0275c9A863072599ea283A143414370470a369a
SHASTA_PRECONF_WHITELIST=0x2A3365C575a5Fc8fD2842B82D29f8035E7f71CeC
SHASTA_TAIKO_TOKEN=0x9f9F5Fd89ad648f2C000C954d8d9C87743243eC5

############################### URC #####################################
URC_REGISTRY=0x23f7a4cE6FF9d64042D2e1eE4d8Ab20c3dBF24AF

# Taiko protocol contract addresses
SHASTA_INBOX=${SHASTA_SHASTA_INBOX}
TAIKO_TOKEN=${SHASTA_TAIKO_TOKEN}
TAIKO_ANCHOR=0x1670010000000000000000000000000000010001
TAIKO_L2=0x1670010000000000000000000000000000010001
PRECONFIRMATION_WHITELIST=${SHASTA_PRECONF_WHITELIST}

SHASTA_ANCHOR=$TAIKO_ANCHOR

# P2P
DISABLE_P2P_SYNC=true
P2P_SEQUENCER_ADDRESSES=0x70997970C51812dc3A010C7d01b50e0d17dc79C8,0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266


#### Catalyst
TAIKO_INBOX_ADDRESS=$SHASTA_INBOX
TAIKO_ANCHOR_ADDRESS=$TAIKO_ANCHOR
SHASTA_INBOX_ADDRESS=$SHASTA_INBOX
PRECONF_WHITELIST_ADDRESS=$PRECONFIRMATION_WHITELIST
TAIKO_BRIDGE_L2_ADDRESS=0x1670010000000000000000000000000000000001
FORCED_INCLUSION_STORE_ADDRESS=${SHASTA_INBOX}
L1_RPC_URLS=$L1_ENDPOINT_WS
L1_BEACON_URL=$L1_BEACON_HTTP
JWT_SECRET_FILE_PATH=/jwtsecret.hex
MAX_BLOCKS_PER_BATCH=10
PRECONF_MAX_SKIPPED_L2_SLOTS=1
PRECONF_MIN_TXS=1
PACAYA_TIMESTAMP_SEC=0
SHASTA_TIMESTAMP_SEC=0
PERMISSIONLESS_TIMESTAMP_SEC=0
THRESHOLD_TAIKO=0
LOOKAHEAD_STORE_ADDRESS=0xC5FC7cE1d859E6604f1e8E57BA0f4A92858850Bc
LOOKAHEAD_SLASHER_ADDRESS=0x0000000000000000000000000000000000000001
PRECONF_SLASHER_ADDRESS=0x0000000000000000000000000000000000000001

#### urc indexer
REGISTRY_ADDRESS=$URC_REGISTRY

#### fork transition script
L2_RPC_URL=http://host.docker.internal:8547

# Execution Client Selection
EXECUTION_CLIENT=nethermind
TAIKO_GETH_RPC_URL=ws://taiko-nethermind:8548
TAIKO_GETH_AUTH_RPC_URL=http://taiko-nethermind:8552

# Deployment Options
DEPLOY_CONTRACTS=true
USE_EXISTING_DEPLOYMENT=false
DEPLOYMENT_TYPE=shasta
SETUP_OPERATORS=true
ACTIVATE_FORK=true
ACTIVATE_INBOX=true

# Need PROTOCOL=shasta for Shasta


# adjusting L1 and L2 slots time
SECONDS_PER_SLOT=12
DEVNET_SECONDS_IN_SLOT=$SECONDS_PER_SLOT
L1_SLOT_DURATION_SEC=$SECONDS_PER_SLOT
PRECONF_HEARTBEAT_MS=2000

# Registry contract configuration
MIN_COLLATERAL_WEI=10000000000000000
FRAUD_PROOF_WINDOW=10
UNREGISTRATION_DELAY=10
SLASH_WINDOW=7200
OPT_IN_DELAY=1
