
TAIKO_GETH_IMAGE=nethermind/catalyst-taiko-geth:sha-02ffd12
TAIKO_CLIENT_IMAGE=nethermind/catalyst-taiko-client:sha-bd86963
CATALYST_IMAGE=nethermind/catalyst-node:latest

############################### DEFAULT #####################################

# L1
L1_CHAIN_ID=3151908

L1_ENDPOINT_HTTP=http://host.docker.internal:32003
L1_ENDPOINT_WS=ws://host.docker.internal:32004
L1_BEACON_HTTP=http://host.docker.internal:33001

# Chain ID
L2_CHAIN_ID=167001
L2_GENESIS_HASH=0x3c23176474acbf1a4bbb8c2fe97d9a7c3cb9743317296e6adbcf1627900c4238

# Exposed ports
PORT_L2_EXECUTION_ENGINE_1_HTTP=8547
PORT_L2_EXECUTION_ENGINE_1_WS=8548
PORT_L2_EXECUTION_ENGINE_1_METRICS=6060
PORT_L2_EXECUTION_ENGINE_1_P2P=30303
PORT_L2_EXECUTION_ENGINE_1_AUTH=8551

PORT_L2_EXECUTION_ENGINE_2_HTTP=8647
PORT_L2_EXECUTION_ENGINE_2_WS=8648
PORT_L2_EXECUTION_ENGINE_2_METRICS=6660
PORT_L2_EXECUTION_ENGINE_2_P2P=36306
PORT_L2_EXECUTION_ENGINE_2_AUTH=8651
# PORT_PROVER_SERVER=9876
# PORT_PROMETHEUS=9091
# PORT_GRAFANA=3001

PORT_P2P_DRIVER_1=9222
PORT_P2P_DRIVER_2=9223

OPERATOR_1_PRIVATE_KEY=ac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80
OPERATOR_2_PRIVATE_KEY=59c6995e998f97a5a0044966f0945389dc9e86dae88c7a8412f4603b6b78690d
CONTRACT_OWNER_PRIVATE_KEY=bcdf20249abf0ed6d944c0288fad489e33f66b3960d9e6229c1cd214ed3bbe31
CONTRACT_OWNER=0x8943545177806ED17B9F23F0a21ee5948eCaa776

TAIKO_INTERNAL_SHASTA_TIME=1764670179

# Taiko protocol contract addresses
TAIKO_INBOX=${PACAYA_TAIKO}
PACAYA_INBOX=${PACAYA_TAIKO}
SHASTA_INBOX=${SHASTA_SHASTA_INBOX}
TAIKO_TOKEN=${PACAYA_TAIKO_TOKEN}
TAIKO_ANCHOR=0x1670010000000000000000000000000000010001
TAIKO_L2=0x1670010000000000000000000000000000010001
PRECONFIRMATION_WHITELIST=${PACAYA_PRECONF_WHITELIST}
TAIKO_WRAPPER=${PACAYA_TAIKO_WRAPPER}

PACAYA_ANCHOR=$TAIKO_ANCHOR
SHASTA_ANCHOR=$TAIKO_ANCHOR

THRESHOLD_TAIKO=0

############################### PACAYA #####################################
PACAYA_AUTOMATA_DCAP_ATTESTATION=0xb5f6104c5f51bE0918FB807AA73300487d779AF6
PACAYA_BRIDGE=0xc357EBc754fb45df86FfC3D387B592D951747754
PACAYA_ERC1155_VAULT=0xd767bfbbb1C0d75CC67a2cdF86b657D2766294fE
PACAYA_ERC20_VAULT=0x2f06c1dA6987BfD39A0539c03F9274fFb1F5fa19
PACAYA_ERC721_VAULT=0xdF321a81D594c6eD056E0DC3CB74AAEE4DcD91Fb
PACAYA_FORCED_INCLUSION_STORE=0x19069f1A742FA75e53c3c159eA320c4c25686b5F
PACAYA_MAINNET_TAIKO=0xAd9cfEB98bD1D4769C45Bd2Ec551197096e26e64
PACAYA_OP_GETH_VERIFIER=0x5414A696E8d700dcb350B4DC4a0c3BF65E824811
PACAYA_OP_VERIFIER=0xe23D0FF9A9b9e3A8db061F554ccA4403dA731d5c
PACAYA_PRECONF_ROUTER=0x9194B7F10F53d7D4969bb5eE3C05511e1c4A86AA
PACAYA_PRECONF_WHITELIST=0x61389FFAC08013Cf1213C72959e8A6299AC1c00D
PACAYA_PROOF_VERIFIER=0x12cD817dcaaBA5Ee101bb30bBBeccA859B999571
PACAYA_PROVER_SET=0x6f792b7C31c1e49E348C7913b7F85bfeBF3d85Ba
PACAYA_RISC0_RETH_VERIFIER=0xd152abA2Ae5b3Eeb3F566c63a01e8a4B9Cf16D27
PACAYA_ROLLUP_ADDRESS_RESOLVER=0x0a2909E98b207e48559245837a307Bb3f39cCBaf
PACAYA_SGX_GETH_AUTOMATA=0xEf868cdC0a9A5F6fC4D0726E2b0598f6F02B063E
PACAYA_SGX_GETH_VERIFIER=0x6918E4FC0862CEa058ddEA5823790C6abb51c5b9
PACAYA_SGX_RETH_VERIFIER=0x879C7FF7791aE0636fA4e0c214B53E88BCF0bB38
PACAYA_SHARED_RESOLVER=0xF246cEc50674BaA7a1F7157bbeea1e0F9E3e4270
PACAYA_SIGNAL_SERVICE=0x8B145Cd7f49a011F0fee133546Fbbd918C1FC646
PACAYA_SP1_RETH_VERIFIER=0xAeEa13ef35B95A96F6b0F008E41BF40080513A5C
PACAYA_TAIKO=0xc50f6b8AcBc6C5852A44371ef31b52122F43c349
PACAYA_TAIKO_TOKEN=0x962211AbbCbB7d40192a906218f9100802088fD3
PACAYA_TAIKO_WRAPPER=0x2f74823d59ce539610CAa9F405194afc94424680

############################### SHASTA #####################################
SHASTA_AUTOMATA_DCAP_ATTESTATION=0x1d2cc1a34Be50eC56CFdcE2fb166fcc3c2Fa51eb
SHASTA_BRIDGE=0xA23Eb11fD0Bf19AC5b4D468D44FD73F726E61C30
SHASTA_ERC1155_VAULT=0xC4497e9002b5BCea17187A4F2C458e698efE2a67
SHASTA_ERC20_VAULT=0x0d7C1772261192Aa1527bb360510B3DF9C52fc06
SHASTA_ERC721_VAULT=0x329c16d11A31FD1b8c11C2d54591720b8ED146DB
SHASTA_PROVER_WHITELIST=0xa9f0E4c3682AF41ABEEafA8c33DbD7dd4E8b52B5
SHASTA_SGX_GETH_AUTOMATA_DCAP_ATTESTATION=0x27117ab26f9709B5e45c513111Da251CddCEABc7
SHASTA_SHARED_RESOLVER=0x6b70389E07d3B15CAA53783d532E3d4255E1fE3A
SHASTA_SHASTA_INBOX=0xfC2D3f88eA0C99C444343e3d81a9F958D982cf4E
SHASTA_SIGNAL_SERVICE=0x05C136C43d6472BdbBB748980535f541431D3aB5

# P2P
DISABLE_P2P_SYNC=true
# P2P_SYNC_URL=https://rpc.mainnet.taiko.xyz


#### Catalyst
TAIKO_INBOX_ADDRESS=$PACAYA_INBOX
TAIKO_ANCHOR_ADDRESS=$TAIKO_ANCHOR
SHASTA_INBOX_ADDRESS=$SHASTA_INBOX
PRECONF_WHITELIST_ADDRESS=$PRECONFIRMATION_WHITELIST
PRECONF_ROUTER_ADDRESS=${PACAYA_PRECONF_ROUTER}
TAIKO_WRAPPER_ADDRESS=$TAIKO_WRAPPER
TAIKO_BRIDGE_L2_ADDRESS=0x1670010000000000000000000000000000000001
FORCED_INCLUSION_STORE_ADDRESS=${PACAYA_FORCED_INCLUSION_STORE}
L1_RPC_URLS=$L1_ENDPOINT_WS
L1_BEACON_URL=$L1_BEACON_HTTP
JWT_SECRET_FILE_PATH=/jwtsecret.hex
MAX_BLOCKS_PER_BATCH=10
PRECONF_MAX_SKIPPED_L2_SLOTS=1
PRECONF_MIN_TXS=1
CURRENT_FORK=pacaya
FORK_SWITCH_TIMESTAMP=$TAIKO_INTERNAL_SHASTA_TIME

#### fork transition script
L2_RPC_URL=http://host.docker.internal:8547

# Execution Client Selection
EXECUTION_CLIENT=nethermind
TAIKO_GETH_RPC_URL=ws://taiko-nethermind:8548
TAIKO_GETH_AUTH_RPC_URL=http://taiko-nethermind:8552

# Deployment Options
DEPLOY_CONTRACTS=true
USE_EXISTING_DEPLOYMENT=false
DEPLOYMENT_TYPE=shasta
SETUP_OPERATORS=true
ACTIVATE_FORK=true
TAIKO_L1_ADDRESS=${PACAYA_INBOX}
TAIKO_TOKEN_ADDRESS=${PACAYA_TAIKO_TOKEN}
PRECONF_ROUTER=${PACAYA_PRECONF_ROUTER}

WEB3SIGNER_L1_URL=http://web3signer-l1:9000
WEB3SIGNER_L2_URL=http://web3signer-l2:9000
PRECONFER_ADDRESS=0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266

# Need PROTOCOL=shasta for Shasta