
TAIKO_GETH_IMAGE=us-docker.pkg.dev/evmchain/images/taiko-geth:v2.4.0
TAIKO_CLIENT_IMAGE=us-docker.pkg.dev/evmchain/images/taiko-client:taiko-alethia-client-v2.2.0
CATALYST_IMAGE=nethermind/catalyst-node:latest
TAIKO_PROTOCOL_PACAYA_IMAGE=nethermind/catalyst-taiko-protocol:taiko-alethia-protocol-v2.3.1-new
TAIKO_PROTOCOL_SHASTA_IMAGE=nethermind/catalyst-taiko-protocol:sha-c80f0f0
NETHERMIND_CLIENT_IMAGE=nethermindeth/nethermind:master

############################### DEFAULT #####################################

# L1
L1_CHAIN_ID=3151908

L1_ENDPOINT_HTTP=http://host.docker.internal:32003
L1_ENDPOINT_WS=ws://host.docker.internal:32004
L1_BEACON_HTTP=http://host.docker.internal:33001

# Chain ID
L2_CHAIN_ID=167001
L2_GENESIS_HASH=0x7a2cf36c5c9ebe2341394181cd815d652568a5d9596eae0eac169ecaa310f371

# Exposed ports
PORT_L2_EXECUTION_ENGINE_1_HTTP=8547
PORT_L2_EXECUTION_ENGINE_1_WS=8548
PORT_L2_EXECUTION_ENGINE_1_METRICS=6060
PORT_L2_EXECUTION_ENGINE_1_P2P=30303
PORT_L2_EXECUTION_ENGINE_1_AUTH=8551

PORT_L2_EXECUTION_ENGINE_2_HTTP=8647
PORT_L2_EXECUTION_ENGINE_2_WS=8648
PORT_L2_EXECUTION_ENGINE_2_METRICS=6660
PORT_L2_EXECUTION_ENGINE_2_P2P=36306
PORT_L2_EXECUTION_ENGINE_2_AUTH=8651
# PORT_PROVER_SERVER=9876
# PORT_PROMETHEUS=9091
# PORT_GRAFANA=3001

PORT_P2P_DRIVER_1=9222
PORT_P2P_DRIVER_2=9223

OPERATOR_1_PRIVATE_KEY=ac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80
OPERATOR_2_PRIVATE_KEY=59c6995e998f97a5a0044966f0945389dc9e86dae88c7a8412f4603b6b78690d
CONTRACT_OWNER_PRIVATE_KEY=bcdf20249abf0ed6d944c0288fad489e33f66b3960d9e6229c1cd214ed3bbe31
CONTRACT_OWNER=0x8943545177806ED17B9F23F0a21ee5948eCaa776

TAIKO_INTERNAL_SHASTA_TIME=1864670179

############################### PACAYA #####################################
PACAYA_AUTOMATA_DCAP_ATTESTATION=0x89a37F5cd42162B56DE8A48bDe38A6E97C965675
PACAYA_BRIDGE=0x63e6DDE6763C3466C7b45Be880f7eE5dC2ca3E25
PACAYA_ERC1155_VAULT=0x80741a37E3644612F0465145C9709a90B6D77Ee3
PACAYA_ERC20_VAULT=0x1ADB9959EB142bE128E6dfEcc8D571f07cd66DeE
PACAYA_ERC721_VAULT=0x3A8C1bd531b5C1aeFBB9ebc3e021C1251cF4Ccb1
PACAYA_FORCED_INCLUSION_STORE=0xc5092f6c1f30C8970dc835F0F754057f79b89CC6
PACAYA_MAINNET_TAIKO=0x34fa02cf467232c201FB9E90c786A69c7d743D8D
PACAYA_OP_GETH_VERIFIER=0x97b20dE03D78Db78fB59C9c92769ECabb183d1bA
PACAYA_OP_VERIFIER=0x1DCc506284Ba920c71bDCC8595cBfa022ed20b95
PACAYA_PRECONF_ROUTER=0x700420690932eeB22bCd01fBf537d37BeCa5577C
PACAYA_PRECONF_WHITELIST=0xD9BFe39BA99503baA8cBA3DF08e3C9421889Fd44
PACAYA_PROOF_VERIFIER=0x9DC3b7C24965a90a8e2eacf48F4DB47c0A5f7Eb0
PACAYA_PROVER_SET=0xeB804d271b58d9405CD94e294504E56d55B6E35c
PACAYA_RISC0_RETH_VERIFIER=0x05cE5c99898b2a4376381C3c39217833ED0E15a4
PACAYA_ROLLUP_ADDRESS_RESOLVER=0xD1ea1592b7927a2f0EE5f8567928Df0cfA687C78
PACAYA_SGX_GETH_AUTOMATA=0xCd9f348aeBF4649BFF58654da5C7A008b9008e7d
PACAYA_SGX_GETH_VERIFIER=0x52dA6744529971e2fFC412ed068B44c77fe1aFa2
PACAYA_SGX_RETH_VERIFIER=0xc6F76D133052002abdBAda02ba35dB8b7414FcAa
PACAYA_SHARED_RESOLVER=0x17435ccE3d1B4fA2e5f8A08eD921D57C6762A180
PACAYA_SIGNAL_SERVICE=0x72ae2643518179cF01bcA3278a37ceAD408DE8b2
PACAYA_SP1_RETH_VERIFIER=0x3901C4670aA92a626636f7Ea1e3F029A0ECd6b68
PACAYA_TAIKO=0xa4fD91B3b1032e1fd0d7623A54B1a399aaaF9ab5
PACAYA_TAIKO_TOKEN=0x422A3492e218383753D8006C7Bfa97815B44373F
PACAYA_TAIKO_WRAPPER=0x3754cb88Ff9e3A2916Eaa0C6430BB9b299DfB658

############################### SHASTA #####################################
SHASTA_AUTOMATA_DCAP_ATTESTATION=0xa837590C4C54f0C5681D858005E2C3aFB2F4F5aD
SHASTA_BRIDGE=0x0a1a630f85F9e58b345f6cb9197C51FA1db01639
SHASTA_ERC1155_VAULT=0xe3184b7A57Ee61d7435152f4C422f8E2A4e19Fd7
SHASTA_ERC20_VAULT=0x6e2B84751aB964DdBFDaa1b8d19B95a9A32E740a
SHASTA_ERC721_VAULT=0x0314be8Ec7aAeeB36146e38cfC43F3e4878Fb11d
SHASTA_PROVER_WHITELIST=0xED9A58f1dB13F39a18b9801EF749dc7f16F5532F
SHASTA_SGX_GETH_AUTOMATA_DCAP_ATTESTATION=0x13e6BeF5a03A2aEBdE7039D7649F8243A958d8e0
SHASTA_SHARED_RESOLVER=0x454A310f46C8d9403ba6F6c514aD3fDE1ad97a5E
SHASTA_SHASTA_INBOX=0xb2808cD795Fcf5378609B70eE312EcD7C129EF39
SHASTA_SIGNAL_SERVICE=0x5CF2A43a9e2C552D8D402b8710F7A23B0321b888

# Taiko protocol contract addresses
TAIKO_INBOX=${PACAYA_TAIKO}
PACAYA_INBOX=${PACAYA_TAIKO}
SHASTA_INBOX=${SHASTA_SHASTA_INBOX}
TAIKO_TOKEN=${PACAYA_TAIKO_TOKEN}
TAIKO_ANCHOR=0x1670010000000000000000000000000000010001
TAIKO_L2=0x1670010000000000000000000000000000010001
PRECONFIRMATION_WHITELIST=${PACAYA_PRECONF_WHITELIST}
TAIKO_WRAPPER=${PACAYA_TAIKO_WRAPPER}

PACAYA_ANCHOR=$TAIKO_ANCHOR
SHASTA_ANCHOR=$TAIKO_ANCHOR

# P2P
DISABLE_P2P_SYNC=true
# P2P_SYNC_URL=https://rpc.mainnet.taiko.xyz


#### Catalyst
TAIKO_INBOX_ADDRESS=$PACAYA_INBOX
TAIKO_ANCHOR_ADDRESS=$TAIKO_ANCHOR
SHASTA_INBOX_ADDRESS=$SHASTA_INBOX
PRECONF_WHITELIST_ADDRESS=$PRECONFIRMATION_WHITELIST
PRECONF_ROUTER_ADDRESS=${PACAYA_PRECONF_ROUTER}
TAIKO_WRAPPER_ADDRESS=$TAIKO_WRAPPER
TAIKO_BRIDGE_L2_ADDRESS=0x1670010000000000000000000000000000000001
FORCED_INCLUSION_STORE_ADDRESS=${PACAYA_FORCED_INCLUSION_STORE}
L1_RPC_URLS=$L1_ENDPOINT_WS
L1_BEACON_URL=$L1_BEACON_HTTP
JWT_SECRET_FILE_PATH=/jwtsecret.hex
MAX_BLOCKS_PER_BATCH=10
PRECONF_MAX_SKIPPED_L2_SLOTS=1
PRECONF_MIN_TXS=1
PACAYA_TIMESTAMP_SEC=0
SHASTA_TIMESTAMP_SEC=$TAIKO_INTERNAL_SHASTA_TIME
THRESHOLD_TAIKO=0

#### fork transition script
L2_RPC_URL=http://host.docker.internal:8547

# Execution Client Selection
EXECUTION_CLIENT=nethermind
TAIKO_GETH_RPC_URL=ws://taiko-nethermind:8548
TAIKO_GETH_AUTH_RPC_URL=http://taiko-nethermind:8552

# Deployment Options
DEPLOY_CONTRACTS=true
USE_EXISTING_DEPLOYMENT=false
DEPLOYMENT_TYPE=shasta
SETUP_OPERATORS=true
ACTIVATE_FORK=true
TAIKO_L1_ADDRESS=${PACAYA_INBOX}
TAIKO_TOKEN_ADDRESS=${PACAYA_TAIKO_TOKEN}
PRECONF_ROUTER=${PACAYA_PRECONF_ROUTER}

# Need PROTOCOL=shasta for Shasta


# adjusting L1 and L2 slots time
SECONDS_PER_SLOT=12
DEVNET_SECONDS_IN_SLOT=$SECONDS_PER_SLOT
L1_SLOT_DURATION_SEC=$SECONDS_PER_SLOT
PRECONF_HEARTBEAT_MS=2000
